fastapi==0.115.0
uvicorn==0.30.6
gunicorn==22.0.0
SQLAlchemy==2.0.36
python-multipart==0.0.9
pydantic==2.8.2
pydantic-settings==2.5.2
passlib
python-jose[cryptography]
requests
python-dotenv
openai
elevenlabs
numpy
faiss-cpu
sentence-transformers
pypdf
torch
onnx
TTS
email-validator>=2.1.0.post1
